body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:purple;
}

li {
  float: left;
}
.navbar{
  margin-top:8px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

li a:hover {
  background-color: darkviolet;
}
.container {
 display: flex;

    }
.container span {
    flex: 1; /* Each span will take up equal space */
    text-align: center; /* Optional: Center content horizontally */
    padding: 10px; 
/* .container span img { */
    height: 500%;
    width: 60%;
}
footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
    color: blueviolet;
}
